<h1 class='graph-title'>mutualmap <span style="color:red">//</span> <%= @graph.name %></h1>
<nav class='graph-nav'>
  <ul>
    <li><%= link_to "new guest", new_graph_entrance_path(@graph) %></li>
    <li><%= link_to "guest list", graph_users_path(@graph) %></li>
  </ul>
</nav>

<div class="row">
	<h2>Guest List</h2>

	<% @all_guests.each do |guest| %>
		<%= image_tag guest.facebook_pic_small %><p><%= link_to guest.name, graph_user_path(1, guest.id) %>
		</p>

	<% end %>
</div>