<h1><%= @user.name  %></h1>

<dl class="accordion" data-accordion>
  <% count = 1 %>
  <% @mutual_friendships.each do |mf| %>
  <dd>
     <a href="#panel<%= count %>"><%= image_tag mf[:other_guest].facebook_pic_small %><%= mf[:other_guest].name %> [<%= mf[:mutual_friends].count %> mutual friends]</a>
    <div id="panel<%= count %>" class="content">
      <ul>
        <% mf[:mutual_friends].each do |f| %> 
          <li><%= f.name %></li>
        <% end %>
      </ul>
    </div>
  </dd>
  <% count += 1 %>
  <% end %>
</dl>