<% content_for :title, "mutualmap | welcome" %>
<div class="row">
	<div class="small-12 large-6 columns">
		<h1>mutualmap</h1>
		
		<h4>who here knows your friends?</h4>
		<small class='row'>check in with your cell # + facebook account</small>
		<%= form_for [@graph, @entrance], :html => {:class => 'row entrance-form'}, remote: true do |f| %>
			<div class='small-6 columns phone-container'>
				<i class="fa fa-mobile phone-icon"></i>
			  <%= f.telephone_field :phone, id: 'phone-input', placeholder: 'type your mobile number here' %>
			</div>
		  <%= f.hidden_field :facebook_token %>
		  <%= f.submit "Send to server", :style => "display:none", id:'hidden_submit'   %>
		<% end %>
		<div class='row small-2 large-2 columns'>
			<button id="loginbutton">sign-in with facebook</button>
			<br>
			<%= link_to "View Map", @graph %>
			<p id="status-text"></p>
			<img class="status-loading" style="display:none"src="<%= image_path("loading.gif") %>" alt="loading">
		</div>
	</div>
</div>


<% content_for :javascript do %>
	<script type="text/javascript">
		launchEntrancesJS();
	</script>
<% end %>